footer {
  position : relative;
  width: inherit;
  height: 160px;
  padding: 18px 0 65px;
  background-color: #fff;
  border-top: 1px solid rgb(174, 174, 174);
}

footer .footer{
  width: 1060px;
  height: inherit;
  margin: 0 auto;
}

.company-menu {
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company-logo {
  margin-right: 50px;
}

.info-btn {
  margin-right: 45px;
  font-size: 15px;
}

.sns-link {
  margin-left: 14px;
}

#company-info {
  display: flex;
  flex-direction: row;
}

#footer-text {
  width: auto;
  margin: 0;
  padding: 17px 10px 0 0;
  font-size: 12px;
  line-height: 20px;
  color: #767676;

}

#select_btn {
  margin-top: 17px;
  width: 250px;
  height: 40px;
  background: #f2f4f7;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 2;
  color: #717171;
  padding: 0 45px;
  appearance: none;
  font-weight: 500;
}