body{
  margin: 0;
  padding: 0;
  font-family: 'PretendardJP';
}

.page {
  width: 100vw;
  height: 100vh;
}

header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: inherit;
  height: 50px;
  border-bottom: 1px solid rgb(174, 174, 174);
  background-color: #fff;
}

header .header{
  width: 1060px;
  height: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-left {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.menu-icon {
  margin-right: 10px;
  width: 17px;
}

.menu-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
}

.menu-list {
  padding: 5px 100px 5px 10px;
  display: block;
  color: #333;
  font-size: 13px;
  font-weight: 700;
  line-height: 2.86;
}

#list-all {
  font-size: 14px;
}

.menu-list:hover {
  background-color: #e1e2e3;
}

.dropdown:hover .menu-dropdown {
  display: block;
}

.logo-icon {
  height: 17px;
}

header .header ul {
  list-style: none;
}

.header-center {
  margin: 0;
}

.menu {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #333;
}

.header-center li {
  float: left;
  padding: 15px;
  cursor: pointer;
}

.header-center .menu:hover {
  border-bottom: 1.5px solid rgb(103, 103, 103);
}

.header-right li {
  float: left;
  padding: 0 5px;
}

.header-right li button{
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.corp-service {
  padding: 5px 10px;
  font-size: 13px;
  border: 1px solid #e1e2e3;
  border-radius: 50px;
  color: #333;
  cursor: pointer;
}