#section1 {
  position: relative;
  padding: 1.5rem;
  height: 18.75rem;
  overflow: hidden;   
}

.slides{
  position: absolute;
}

.slides li{
  float: left;
  margin: 0 0.75rem;
}

.slides li img {
  border-radius: 0.25rem;
}

.controller span{
  position:absolute;
  top : 9rem;
  width : 1.8rem;
  padding : 1.25rem 0;
  opacity : .5;
  background-color : #fff;
  color : #aaa;
  border-radius : 3.1rem;
  cursor : pointer;
}

.controller .prev {
  left : 15.5rem;
}

.controller .next {
  right : 15.5rem;
}

.section2{
  padding: 3.75rem 0;
  margin: 0 auto;
  width: 66.25rem;
}

#section2-grid1 {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#question-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

#mini-popup {
  display: none;
  position: absolute;
  padding: 1.25rem;
  max-width: 23rem;
  border: 1px solid #999;
  background-color: #fff;
  text-align: left;
}

#mini-popup-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mini-popup-top button {
  cursor: pointer;
}

#mini-popup-title {
  font-size: 0.81rem;
  font-weight: 700;
  line-height: 1.18rem;
  color: #000;
  
}

#mini-popup-comment {
  margin-top: 0.9rem;
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.18rem;
  color: #333;
}

.scroll {
  width: inherit;
  margin: 1.8rem auto;
  overflow: auto;
  white-space: nowrap;
}

.scroll-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scroll::-webkit-scrollbar{
  display:none;
}

.scroll button {
  padding: 0.56rem 1.37rem;
  background-color: inherit;
  border: 1px solid #e1e2e3;
  color: #aaa;
  border-radius: 3.1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.scroll button:hover {
  background-color: #e1e2e3;
}

.career-list {
  width: 66.25rem;
  margin-top: 1.8rem;
  display: flex;
  flex-wrap: wrap;
}

.career-list li {
  margin: 0 0.4rem 3.1rem 0.4rem;
  width: 15.6rem;
}

.list-image {
  width: 15.6rem;
  height: 10.9rem;
  border-radius: 0.2rem;
  object-fit: cover;
}

.list-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #333;
  margin: 1rem 0 0.5rem;
  text-align: left;
}

.list-comment {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 0.81rem;
  line-height: 1.3rem;
  color: #aaa;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.profile-photo {
  width: 1.8rem;
  height: 1.8rem;
}

.writer {
  margin: auto 0.31rem;
  font-weight: 600;
  font-size: 0.81rem;
  color: #aaa;
}

#other-content  {
  width: 21rem;
  height: 3.1rem;
  padding: 0.62rem 1.68rem;
  border: 1px solid #e1e2e3;
  border-radius: 3.1rem;
  background-color: inherit;
  font-size: 1rem;
  font-weight: 700;
}

.example {
  color : #aaa;
  font-size: 0.9rem;
}

.list-comment2 {
  font-size: 0.75rem;
  font-weight: 500;
  color: #333;
  text-align: left;
}

.list-comment3 {
  margin-top: 1rem;
  font-size: 0.81rem;
  font-weight: 600;
  color: #333;
  text-align: left;
}

#VOD .list-title {
  margin-top: 0.3rem;
}

#VOD .list-comment {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#line-banner {
  width: 66.25rem;
  padding: 1.31rem 0;
  margin: 0 auto;
  border-radius: 3.1rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(90deg,#01a9fe -12%,#2f5fef 37%,#046afe 72%,#00d2dd 110%);
}

.career-list .event-list {
  padding: 0.5rem;
  width: 31rem;
}

.event-image {
  width: 31rem;
  height: 17rem;
  object-fit: cover;
}

#online-icon {
  width: fit-content;
  margin: 0.6rem 0;
  padding: 0.1rem 0.37rem;
  background-color: black;
  border-radius: 0.18rem;
  color: white;
  align-items: center;
}

#online {
  color: white;
  font-size: 0.68rem;
}

#section3 {
  height: 8.5rem;
  padding: 3.75rem 0;
  background-color: #F7F7F7;
}

#section3-grid1 {
  width: 66.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#section3-grid2 {
  width: inherit;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#section3-grid3 {
  height: 2.6rem;
}

#section3-grid2 p {
  font-size: 14px;
  line-height: 1.42;
  color: #333333;
}

#logo-plus {
  width: 10rem;
}

#subscribe-reason {
  margin-bottom: 0.18rem;
  font-size: 1.8rem;
  font-weight: 600;
}

#apply-subscribe {
  margin-top: 1.5rem;
  width: 17rem;
  height: 3.1rem;
  border-radius: 3.1rem;
  background-color: #36f;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.check-icon {
  width: 1rem;
}

#apply-subscribe p {
  margin: 0 0.12rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.jobs {
  width: 66.25rem;
  height: 6.37rem;
  margin: 1.8rem auto;
  display: flex;
  flex-direction: row;
}

.jobs-menu {
  flex-grow: 1;
  border: 1px solid #e1e2e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobs-icon {
  width: 2rem;
  height: 2rem;
}

.jobs-expl {
  margin-top: 1rem;
  font-weight: 600;
}